@model Farmerce.Models.StoreViewModel
@inject Farmerce.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Farmerce";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                    <div class="list-group">
                        <a href="~/Store"
                           class="list-group-item active d-flex justify-content-between align-items-center"
                           style="text-decoration:none;"
                           aria-current="true">
                            All Categories
                            <span class="badge badge-info badge-pill">
                                @Model.ProductList.Count
                            </span>
                        </a>
                        @foreach (var item in Model.CategoryList)
                        {
                            var totalRecords = _context.Products
                                .Where(p => p.CatID == item.CatID)
                                .ToList().Count;
                            <a href="~/Store?c=@(item.CatID)"
                               class="list-group-item d-flex justify-content-between align-items-center"
                               style="text-decoration:none;">
                                @item.CatName
                                <span class="badge badge-info badge-pill">
                                    @totalRecords
                                </span>
                            </a>
                        }
                    </div>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="row">
                @foreach (var item in Model.ProductList.OrderByDescending(p => p.ProductID).ToList())
                {
                <div class="col-4">
                    <div class="card">
                        <img src="~/image/products/@(item.ImagePath)" class="card-img-top" alt="@(item.ProductName)" style="height:200px;object-fit:cover;object-position:center;" />
                        <div class="card-body">
                            <h5 class="card-title">@(item.ProductName)</h5>
                            <p class="card-text">@(item.Category.CatName)</p>
                            <p class="card-text">Php@(item.ProductPrice.ToString("N"))</p>
                        </div>

                    </div>
                    <br /><br />
                </div>
                 
                }
            </div>
        </div>

    </div>
</div>
