@{
    ViewData["Title"] = "Display Data";
    string [] TableHeaders = new string[] {"Product ID"
      ,"Product Name"
      ,"Product Price"
      ,"Product Measurement"
      ,"Stocks Left"
      ,"Category"};
}




<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
       
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.ProductID</td>
                            <td>@Data.ProductName</td>
                            <td>@Data.ProductPrice</td>
                            <td>@Data.ProductMeasurement</td>
                            <td>@Data.StocksLeft</td>
                            <td>@Data.Category</td>
                        </tr>
                        }

                    }
                }
        </tbody>
    </table>
</div>