@model IEnumerable<Farmerce.Models.Products>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<br />
<h1>Products</h1>
<body class="BG" id="font">
    <p>
        <a asp-action="Add" style="color:white" class="btn btn-success">Create New</a>
    </p>
    <table class="table" id="Plugin">
        <thead>
            <tr style="color:white">
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductMeasurement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StocksLeft)
                </th>
                <th>
                    Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="color:white">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductMeasurement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StocksLeft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CatName)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.ProductID" style="color:white" class="btn btn-primary">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductID" style="color:white"
                           onclick='return confirm("Are you sure?");' class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>


@section scripts{

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#Plugin").DataTable();
        }

        )
    </script>
}
